@{
//ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    The purpose of our app is to show you the Detroit we love.
    Plan your vacation to Detroit on time and get to choose any place youwant to go and visit from our KnowDetroit app.
    The KnowDetroit shows all the beautiful Landmarks in Detroit and it also gives you the locations were the Landmarks are located.
    If you love Detroit, then this is the right app to show you all the beautiful scenaries, hangout places and many more.
    Our KnowDetroit app also gives you the chance to review and rate the beautiful places you have visited.
</p>

<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
    }
</style>