@{
//ViewBag.Title = "About";
}
<br/>
<span id="largedetails">About KnowDetroit</span><br/>
<p><span id="details">
    The purpose of our app is to show you the Detroit that we know and love. Whether you are a tourist or making a trip from the suburbs,
    we will help you find and visit the landmarks that set our city apart. KnowDetroit will introduce you to Detroit with maps of the locations,
    history and description, and ratings and reviews. After you visit each location, you can write your own review, give it a rating, recommend it
    and even upload a picture. So give us your best artistic picture or selfie and help others see what each landmark is all about. want to check 
    or edit your reviews or pictures? Got to the list of reviews and edit or delete any of your reviews. We Know that you will love Detroit just 
    as much as we do, so get out there and see what Detroit is all about. Don't forget to check out the walking tour and follow a route to guide 
    you along. Click on the map for a printable resource provided by Detroit Experience Factory.
    </span>
</p>

<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
    }
</style>