@{
ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title</h2>*@
<span id="largedetails">@ViewBag.Message</span>

    <address>
        <span id="details">Jason Leonard</span><br />
        Phone Number:
        734-751-5523 <br />

        <strong>GitHub:</strong>   <a href="https://github.com/jassle">github.com/jassle</a><br />
        <strong>Linkedln:</strong> <a href="https://www.linkedin.com/in/jason-leonard/">www.linkedin.com/in/jason-leonard/</a>
        <br />
        <br />


        Anthony Chan<br />
        Phone Number:
        586-565-2025 <br />
        <strong>GitHub:</strong>   <a href="https://github.com/anth0ny0153">github.com/anth0ny0153</a><br />
        <strong>Linkedln:</strong> <a href="https://www.linkedin.com/in/anth0ny0153/">www.linkedin.com/in/anth0ny0153/</a>
        <br />
        <br />

        Racheal Ainomugisha <br />
        Phone Number:
        646-905-6106 <br />

        <strong>GitHub:</strong>   <a href="https://github.com/Rays89">github.com/Rays89</a><br />
        <strong>Linkedln:</strong> <a href="https://www.linkedin.com/in/rachealainomugisha/">www.linkedin.com/in/rachealainomugisha/</a>
    </address>

    <style>
        body {
            background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
        }
    </style>
