@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jason Leonard<br />
    <abbr title="Phone">P:</abbr><br />
    734-751-5523 <br />

    <strong>GitHub:</strong>   <a href="https://github.com/jassle">github.com/jassle</a><br />
    <strong>Linkedln:</strong> <a href="https://www.linkedin.com/in/jason-leonard/">www.linkedin.com/in/jason-leonard/</a>
    <br />
    <br />


    Anthony Chan<br />
    <abbr title="Phone">P:</abbr><br />
    586-565-2025 <br />
    <strong>GitHub:</strong>   <a href="https://github.com/anth0ny0153">github.com/anth0ny0153</a><br />
    <strong>Linkedln:</strong> <a href="https://www.linkedin.com/in/anth0ny0153/">www.linkedin.com/in/anth0ny0153/</a>
    <br />
    <br />

    Racheal Ainomugisha <br />
    <abbr title="Phone">P:</abbr><br />
    646-905-6106 <br />

    <strong>GitHub:</strong>   <a href="https://github.com/Rays89">github.com/Rays89</a><br />
    <strong>Linkedln:</strong> <a href="https://www.linkedin.com/in/rachealainomugisha/">www.linkedin.com/in/rachealainomugisha/</a>
</address>