@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
        background-attachment:fixed;
        }
</style>
<marquee behavior="scroll" direction="left" id="marquee" margin="0">
    <span id="marquee">Get To Know DETROIT</span>   <img src="@ViewBag.Icon" /> <span id="marquee">@ViewBag.Temp @ViewBag.WeatherData  @ViewBag.Today</span>
</marquee>
<div class="row">
    <div class="col-sm-pull-4">

        <h><span id="details"> Get to KnowDetroit</span></h>
    </div>
</div>



