@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
    }
    #marquee {
        font-size: 50px;
    }
</style>
<marquee behavior="scroll" direction="left" id="marquee">
    GET TO KNOW DETROIT
</marquee>
<div class="row">
    <div class="col-sm-pull-4">      
            @*<h2 > Get to KnowDetroit</h2 >*@
    </div>
</div>
    
