
@{
    ViewBag.Title = "LandmarkView";
}
<h2>@ViewBag.Found.SiteName</h2>
    
<img src="https://image.maps.api.here.com/mia/1.6/mapview?c=@ViewBag.Found.Latitude,@ViewBag.Found.Longitude&z=16&w=300&h=300&app_id=NyWEeujT8PLJTtEbZkW4&app_code=UdwQrkrFpr9XQvgWW0xGEQ"/>
<img src=@ViewBag.Found.image height="300" width="300" />
<a href="/Home/ShowUserPhotos?SiteName=@ViewBag.Found.SiteName">PHOTOS</a>

<p>@ViewBag.Found.Description</p>
<p>@ViewBag.Found.Address</p>

<a href="/Home/ReviewForm?SiteName=@ViewBag.Found.SiteName" class="btn btn-default">Click Here to Rate/Review</a>
<a href="/Home/ShowReviews?SiteName=@ViewBag.Found.SiteName">Reviews</a>