
@{
    ViewBag.Title = "LandmarkView";
}
<h2>@ViewBag.Found.SiteName</h2>

<img src=@ViewBag.Found.image height="300" width="300"/>

<p>@ViewBag.Found.Description</p>
<p>@ViewBag.Found.Address</p>
<p>@ViewBag.Found.Rating</p>

<form action="/Home/ReviewForm">
    <input type="submit" value="Click here to Rate/Review!" />
</form>
