
@{
    ViewBag.Title = "ListReviews";
}

<h2><span id="details">List Of Reviews</span></h2>
<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
        background-attachment: fixed;
        }
</style><br/>
<br />
<a href="/Home/ShowUserReviews" class="btn btn-default">Your Reviews</a>

<a href="/Home/ListOfLandMarks" class="btn btn-default">Landmarks</a>

<table class="table">
  
    <th><span id="details">Landmark</span></th>
    <th><span id="details">Review</span></th>
    <th><span id="details">Recommended</span></th>
    <th<span id="details">>Rating</span></th>

    @foreach (var c in ViewBag.Review)
    {
        <tr>

            
            <td><span id="details">@c.SiteName</span></td>

            <td><span id="details">@c.Review1</span></td>

            <td><span id="details">@c.Recommended</span></td>

            <td><span id="details">@c.Rating</span></td>

        </tr>
    }
</table>

