
@{
    ViewBag.Title = "ListReviews";
}

<span id="details">List Of Reviews</span>
<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
        background-attachment: fixed;
        }
</style><br/>
<br />
<a href="/Home/ShowUserReviews" class="btn btn-default">Your Reviews</a>

<a href="/Home/ListOfLandMarks" class="btn btn-default">Landmarks</a>

<table class="table">
  
   

    @foreach (var c in ViewBag.Review)
    {
    <tr>
        <td>
            <span style="display:block; background-color:rgba(0,0,0,.5); padding-top:10px; padding-left:10px; padding-bottom:10px"><img src="@c.imageURL" /><br /><Span id="details3"> @c.SiteName <br />Recommended:@c.Recommended <br /> Rating:@c.Rating <br /><br /> @c.Review1 </Span></span>
        </td>
    </tr> 
    }
</table>

