
@{
    ViewBag.Title = "ListReviews";
}
<<<<<<< HEAD

<h2>List Of Reviews</h2>
=======
<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
    }
</style><br/>
<h2>ListReviews</h2>
<br />
<a href="/Home/ShowUserReviews" class="btn btn-default">Your Reviews</a>
<a href="/Home/ListOfLandMarks" class="btn btn-default">LandMarks</a>

>>>>>>> button links and css

<table class="table">
  
    <th>SiteName</th>
    <th>Review1</th>
    <th>Recommended</th>
    <th>Rating</th>

    @foreach (var c in ViewBag.Review)
    {
        <tr>

            
            <td><span id="details">@c.SiteName</span></td>

            <td><span id="details">@c.Review1</span></td>

            <td><span id="details">@c.Recommended</span></td>

            <td><span id="details">@c.Rating</span></td>

        </tr>
    }
</table>

