
@{
    ViewBag.Title = "ListOfLandmarks";
}
<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529501304/Detroit/Belle_Isle_4.jpg);
        background-attachment: fixed;

    }
</style>
<br />


<form action="/Home/SortOptions" method="post">
    <span id="details">Sort By:</span><select name="sortOption">
        <option value="0" selected></option>
        <option value="1">Rating</option>
        <option value="2">Popularity</option>
    </select>
    <input type="submit" value="Sort" />
</form>


@*<table id="searchbyname" class="table"></table>*@
<form action="SearchLandmarkBySiteName" method="get">
    <span id="details">Search By Name: </span><input type="text" name="SiteName" id="SiteName" />
    <input type="submit" value="Search" />
</form>
<br />

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //$("#searchButton").click(function ()
        $("#SiteName").keyup(function () {
            $.ajax({
                type: "POST",
                url: "/Home/SearchLandmarkBySiteName",
                data: '{SiteName:"' + $("#SiteName").val() + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
    <br />

    <form action="/Home/SearchLandmarkBySiteName" method="post">
        Search By Name: <input type="text" name="SiteName" id="SiteName" />
        <input type="submit" value="Search" />
    </form><br />

    <a href="/Home/ListReviews">See All Reviews</a><br />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("#searchButton").click(function ()
            $("#SiteName").keyup(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/SearchLandmarkBySiteName",
                    data: '{SiteName:"' + $("#SiteName").val() + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                     alert(response);
                    if ($("#SiteName").val() == "") {
                        $("#searchbyname").html("");
                    }
                    else {
                        $("#searchbyname").html("");//clear the table
                        for (var i = 0; i < response.length; i++) {
                            var Landmark = response[i];//get sitename at index i
                            var Tr = "<tr>";
                            var Td1 = "<td>" + `<a href="/Home/LandmarkView?SiteName=${Landmark.SiteName}">` + Landmark.SiteName + "</a></td>";
                          //  var Td2 = "<td>" + Landmark.Address + "</td>";
                            $("#searchbyname").append(Tr + Td1 + "</tr>");
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>*@


<span id="details">Top 3 User Rated </span><a href="/Home/HighlyRatedLandmark" class="btn btn-default">Enter</a><br/>
<span id="details">See all Reviews </span><a href="/Home/ListReviews" class="btn btn-default">Enter</a>

<div class="panel-collapse">
    <div class="panel-primary" style="display: flex; flex-wrap: wrap; background-color:rgba(0,0,0,.2); padding-top:50px; padding-left:50px">

        @foreach (var item in ViewBag.Landmark)
        {
            <div class="col-md-4 col-xs-2">
                <a href="/Home/LandmarkView?SiteName=@item.SiteName"><img src="@item.image" /></a><br />
                <a class="contact-link" href="/Home/LandmarkView?SiteName=@item.SiteName">@item.SiteName</a>
                <span id="details3">@item.Address</span>
                @if (item.Reviews.Count > 0)
                {
                    <span id="details3">Rating: @Math.Round((item.Rating / (double)item.Reviews.Count), 1)</span>
                }
                else
                {
                    <span id="details3">Not yet reviewed</span>
                }
                <br />

            </div>
        }


    </div>
</div>

