
@{
    ViewBag.Title = "ListOfLandmarks";
}
<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/c_scale,w_1300/v1529501303/Detroit/Detroit.jpg);
    }
</style>
<br />

<form action="/Home/SortByRating" method="post">
    <input type="submit" value="Sort By" />
</form>

<form action="/Home/SortOptions" method="post">
    <select name="sortOption">
        <option value="0" selected></option>
        <option value="1">Rating</option>
        <option value="2">Popularity</option>
    </select>
    <input type="submit" value="Sort By" />
</form>


<br />

<form action="/Home/SearchLandmarkBySiteName" method="post">
    Search By Name: <input type="text" name="SiteName" id="SiteName" />
    <input type="submit" value="search" />
</form><br />

<a href="/Home/ListReviews">See All Reviews</a><br />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //$("#searchButton").click(function ()
        $("#SiteName").keyup(function () {
            $.ajax({
                type: "POST",
                url: "/Home/SearchLandmarkBySiteName",
                data: '{SiteName:"' + $("#SiteName").val() + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    // alert(response);
                    if ($("#SiteName").val() == "") {
                        $("#searchResults").html("");
                    }
                    else {
                        $("#searchResults").html("");//clear the table
                        for (var i = 0; i < response.length; i++) {
                            var Landmark = response[i];//get sitename at index i
                            var Tr = "<tr>";
                            var Td1 = "<td>" + `<a href="/Home/LandmarkView?SiteName=${Landmark.SiteName}">` + Landmark.SiteName + "</a></td>";
                            var Td2 = "<td>" + Landmark.Address + "</td>";
                            $("#searchResults").append(Tr + Td1 + Td2 + "</tr>");
                        }
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

<a href="/Home/HighlyRatedLandmark">Top 3 User Rated</a><br />

<div class="panel-collapse">
    <div class="panel-primary" style="display: flex; flex-wrap: wrap; background-color:red; padding-top:50px; padding-left:50px">

        @foreach (var item in ViewBag.Landmark)
        {
            <div class="col-md-4 col-xs-2">
                <img src="@item.image" /><br />
                <h4><a href="/Home/LandmarkView?SiteName=@item.SiteName">@item.SiteName</a></h4>
                <h5>@item.Address</h5>
                @if (item.Reviews.Count > 0)
                {
                    <h5>Rating: @Math.Round((item.Rating / (double)item.Reviews.Count), 1)</h5>
                }
                else
                {
                    <h5></h5>
                }
                <br />

            </div>
        }


    </div>
</div>

