
@{
    ViewBag.Title = "ReviewForm";
}
<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/c_crop,w_1642,x_0,y_253/v1530083234/spirit_rw.jpg);
    }
</style>
<br/>
<span id="largedetails">Review @ViewBag.SiteName</span>
<form action="/Home/AddNewRating" method="post" enctype="multipart/form-data">
    <input type="text" value="@ViewBag.SiteName" name="SiteName" hidden />
    <span id="details">Recommended: </span><select name="Recommended">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select><br /><br />
    <span id="details">Rating: </span><select name="Rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select> <br /><br />

    <span id="details">Review: </span><input type="text" name="Review1" />
    <br /><br />
    <input type="file" name="upload" value="UPLOAD" /><br /><br />
    <input type="submit" value="Rate">
</form>
<br />
<a href="/Home/ListOfLandmarks" class="btn btn-default">Return to Landmarks</a>


