
@{
    ViewBag.Title = "ReviewForm";
}

<h2>ReviewForm</h2>

<form action="/Home/AddNewRating" method="post">
    SiteName: <input type="text" name="SiteName" value="@ViewBag.SiteName" readonly /><br />
    Recommended: <input type="text" name="Recommended" /><br />
    Rating: <input type="text" name="Rating" /><br />
    Review: <input type="text" name="Review1" /><br />

    <input type="submit" value="Rate">

</form>

