
@{
    ViewBag.Title = "ShowUserReviews";
}

<h2>Show User Reviews</h2>

<table class="table">
    @foreach (var c in ViewBag.UserReviews)
    {
     
        <tr>
            
            <td><span id="details">@c.ReviewNumber</span></td>
            <td><span id="details">@c.Review1</span> </td>
            
            <td>
                <a href="/Home/DeleteReview?ReviewNumber=@c.ReviewNumber" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>Delete
                </a>
                <a href="/Home/EditReviewPage?ReviewNumber=@c.ReviewNumber" onclick="return confirm('Are you ready to update?')" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon"></span>Update
                </a>
            </td>



        </tr>
    }
</table>
<a href="/Home/ListReviews">Reviews</a>
<a href="/Home/ListOfLandMarks">LandMarks</a>
