
@{
    ViewBag.Title = "ShowUserReviews";
}

<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/c_scale,w_1300/v1529501303/Detroit/Detroit.jpg);
        background-attachment: fixed;
    }
</style>
<h2><span id="details">Show User Reviews</span></h2>

<table class="table">
    <span style="display:block; background-color:rgba(0,0,0,.2); padding-top:10px; padding-left:10px; padding-bottom:10px">
        >
        @foreach (var c in ViewBag.UserReviews)
        {

            <img src="@c.imageURL" /><br /><Span id="details3"> @c.SiteName <br />Recommended:@c.Recommended <br /> Rating:@c.Rating <br /><br /> @c.Review1 </Span>

            <a href="/Home/DeleteReview?ReviewNumber=@c.ReviewNumber" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span>Delete
            </a>
            <a href="/Home/EditReviewPage?ReviewNumber=@c.ReviewNumber" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon"></span>Update</a>


        }
    </span>
</table>

<a href="/Home/ListReviews" class="btn btn-default">Reviews</a>
<a href="/Home/ListOfLandMarks" class="btn btn-default">LandMarks</a>
