
@{
    ViewBag.Title = "ShowReviews";
}
<table class="table">
    @foreach (var c in ViewBag.Review)
    {
        <tr>
            <td><img src="@c.imageURL" /><br /> Recommended:@c.Recommended <br /> Rating:@c.Rating <br /><br /> @c.Review1</td>


        </tr>
    }
</table>
<a href="/Home/ListOfLandmarks" class="btn btn-default">Return to Landmarks</a>


