
@{
    ViewBag.Title = "WalkingTour";
}

<h2>Walking Tour</h2>

<a href="~/Content/Tourpdf/walkingtour.pdf"><img src="http://res.cloudinary.com/dvhowme2s/image/upload/c_scale,w_784/v1530080558/Detroit_Map.png"></a>
