body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#marquee {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    line-height: 1.428571429;
    color: darkorange;
    text-shadow: 4px 4px darkblue;
}
#details {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.428571429;
    color: white;
    display: inline-block;
    text-shadow: 2px 2px darkblue;
    margin: 0 0 5px;
    background-color: rgba(0,0,0,.2);
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
}
#largedetails {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 1.428571429;
    color: white;
    display: inline-block;
    text-shadow: 2px 2px darkblue;
    margin: 0 0 5px;
    background-color: rgba(0,0,0,.2);
    padding: 10px;
}
#details2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.428571429;
    color: white;
    display: inline-block;
    text-shadow: 2px 2px darkblue;
    margin: 0 0 5px;
    background-color: rgba(0,0,0,.2);
    padding-bottom:15px;
    padding-top:28px;
    padding-right:10px;
}
#details3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
    color: white;
    display: block;
    text-shadow: 2px 2px darkblue;
    margin: 0 0 5px;
    
}
#details4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.428571429;
    color: white;
    display: block;
    text-shadow: 2px 2px darkblue;
    margin: 0 0 5px;
}
.contact-link {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.428571429;
    color: white;
    text-shadow: 2px 2px darkblue;
    text-decoration: underline;
}
.contact-link:hover{
    color:darkorange;

}

